.message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 8px;
    padding: 0 20px;
}

.message-img_container {
    width: 24px;
    height: 24px;
    display: flex;
    margin-right: 8px;
    margin-bottom: 8px;
}

.message-img_container img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    
}

.message-content {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    flex-direction: row;
    padding: 16px;
    min-width: 100px;
    min-height: 44px;
    border-radius: 22px;
    max-width: 400px;
    background-color: inherit;
    border: 1px solid rgb(239, 239, 239);
    margin-bottom: 8px;
    z-index: 2;
}

.message-text {
    word-wrap: break-word;
    white-space: normal;
    color: rgb(38, 38, 38);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.message-bottom {
    position: absolute;
    color: rgb(189, 189, 188);
    font-size: 12px;
    bottom: 0;
    right: 12px;
}

.message.own {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.message.own .message-content {
    background-color: rgb(243, 240, 240);
}

.message.own .message-text {
    color: black;
}

.message.own .message-img_container {
    display: none;
}